
@import "fonts/stylesheet.css";

body{
  font-family: "din-lightregular";
}

h1, h2, h3, h4, h5, h6{
  font-family: bebas-neue, sans-serif;
  letter-spacing: 0.07em;
}
.right {float:right;}
.panel-head-text{
      color: #222;
      font-size: 28px;
      margin: 0 0 30px 0;
}

.mini-heading{
  font-family: "din-lightregular";
  font-weight: bold;
  letter-spacing: normal;
  font-size: 16px;
  text-transform: uppercase;
}

.page-wrapper{
  background: white !important;
  max-width: 1200px;
  padding: 30px 30px 0 30px;
  border: 1px solid #DDE6E9;
}


.navbar{
  min-height: 44px;
  border-radius: 0;
  border-bottom: none;
}

.navbar-brand{
  padding: 0;
  position: relative;
  display: inline-block;
  width: 230px;
  height: 44px;
}

.navbar-nav > li > a{
  padding-top: 0;
  padding-bottom: 0;
  line-height: 44px;

}


.navbar-brand img{
  position: absolute;
  bottom: 0px;
  display: block;
}

.nav-tabs {
    padding-left: 0;
}

#tabs{
  font-family: "din-lightregular";
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding-left: 24px;
}

.tab-content{
  background: none;
  padding: 0;
  padding-bottom: 0;
  min-height: 200px;
  border-width: 0;
}

.layout-h .wrapper > section {
    min-height: inherit;
}

/* .active div {max-width:100% !important;} */
.active .panel-boxes {
    max-width: 1140px !important;
}
.tab-content .panel{
  margin-bottom: 10px;
}

.fa-5x {
    font-size: 3.5em;
}

.text-lg{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

p.m0{
  font-size: 11px;
  margin-bottom: 12px;
}


.panel-boxes .panel{
  border: none !important;
  box-shadow: none !important;
}

.panel-boxes .panel .panel-heading{
  min-height: 100px;
}

.wrapper section {
  margin-bottom: 0 !important;
  padding: 0 !important;
}



.chart{
      text-align:center;
}

.panel.panel-default{
      border-top-width: 1px;
}

.chart img{
      display: inline-block;
      width: 190px;
      max-width: 100%;
}

footer {
  position: relative !important;
  height: inherit !important;
  border-top: none !important;
  padding: 10px !important;
}
.panel-body {
    margin: 0px;
    border: 1px solid #d0d0d0;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0;
}
.panel-head-text {
    background: #d0d0d0;
    padding: 10px;
    font-size: 16px !important;
}
#imgInfo, #imgReport {
    float: right;
    width: 18px;
    height: 18px;
    margin-top: 1px;
    margin-left: 5px;
}
.hoverdiv {
    display: none;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0,0,0,.5);
    z-index: 1000000;
    background-color: white;
    padding: 7px;
    opacity: 1;
    font: 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
    position: absolute;
    right: 0;
    width: 250px;
    padding: 15px;
}
#thumbnail:hover + #hover-text {
    display: block!important;
}
.first-head .one-head,
.first-head .four-head {
    width: 5%;
}
.first-head .two-head {
    width: 12%;
}
.first-head .three-head {
    width: 13%;
}
.first-head .five-head {
    width: 18%;
}
.first-head .six-head,
.first-head .eight-head {
    width: 9%;
}
.first-head .seven-head,
.first-head .nine-head,
.first-head .ten-head {
    width: 7%;
}
.first-head .eleven-head {
    width: 8%;
}
.first-head th,
.second-head th {
	text-align:center;
    background: #f9f9f9;
}
.first-head th {padding:10px 0 0px;}
.second-head th {padding:10px 0 10px;}
table.table a {
	color:blue;
	text-decoration: underline;
}
.table > tbody > tr > td {
    vertical-align: middle;
    font-weight: 900;
    text-shadow: none;
}
.panel-boxes #iphone{
    margin-bottom: 10px;
}
.form-horizontal .form-group .col-sm-7 {
    padding-left: 0px;
    padding-right: 0px;
}
.first-four > .panel-heading {
    height: 141px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.first-grey > .panel-heading {
    height: 141px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #777;
}
.panel-grey > .panel-heading {
    color: #ffffff;
    background-color: #777;
    border-color: #777;
}
.panel-lightgrey > .panel-heading {
    color: #000;
    background-color: #d3d3d3;
    border-color: #777;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-lightgrey2 > .panel-heading {
    color: #000;
    background-color: #d3d3d3;
    border-color: #777;
    height: 141px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.empty-panel > .panel-heading {
    background-color: transparent;
    border: 1px solid #d3d3d3;
    color: #000;
}
.no-footer > .panel-heading {
    background-color: transparent;
    border: 1px solid #d3d3d3;
    height: 141px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #000;
}
label.switch {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 5px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #000 !important;
    color: #fff !important;
}
@media (max-width: 1200px) {
  section{
    padding-left: 30px;
    padding-right: 30px;
  }

  .chart + .mini-heading{
        margin-bottom: 30px;
 }
}

@media (max-width: 420px) {
  .panel-boxes .col-xs-6, .gauges-container .col-xs-6{
    width: 100% !important;
  }
  #banner li a {
    position: relative;
    display: block;
    padding: 5px 5px;
    font-size: 10px;
}
  #banner {padding-left: 10px;}
.table {
        table-layout: auto;
}
.layout-boxed .wrapper > section {
    width: 100% !important;
}

}
@media (max-device-width: 480px) and (orientation: portrait) {
.panel-boxes #iphone{
    width: 100% !important;
    margin-bottom: 15px;
}
.links1 {
    width: 50% !important;
}
#container,
.layout-h .wrapper > section {
    /*margin-top: -21px !important;*/
}
.navbar-brand img {
    /*bottom: -10px;*/
}
}
@media (max-device-width: 668px) and (orientation: landscape) {
.links1 {
    width: 50% !important;
}
#container,
.layout-h .wrapper > section {
    /*margin-top: -21px !important;*/
}
}


.layout-boxed .wrapper > section {
	width: 1140px;
}

footer .container {
	width: 100%;
}

.layout-boxed footer .container {
	width: 1140px;
}

.layout-boxed .navbar {
	margin-bottom: 21px;
}


.navbar {
	margin-bottom: 0;
}

.layout-boxed .wrapper {
	box-shadow: none;
}

.offsidebar {
	margin-top: 45px !important;
}

.offsidebar .pull-left {
	width: 151px;
}

.offsidebar .pull-left em {
	color: #515253;
	font-size: 14px;
}

.offsidebar .input-group .btn {
    font-weight: bold;
    width: 23px;
    padding: 0;
}

.offsidebar .textfield {
	width: 84px;
}

.offsidebar input.form-control {
	padding: 0;
	height: inherit;
    text-align: center;
}

.offsidebar div.p {
	padding: 6px 10px !important;
}

.offsidebar h3 {
	margin-top: 10px;
    margin-bottom: 0;
}

.switch-disable {
	opacity: 0.6;
	color: #B0B0B0;
}

p.no-edit-button {
	padding-left: 17px;
}

.navbar-toggle {
	margin-top: 5px;
	margin-bottom: 0;
}

input.popover-tool {
	width: 100px;
    margin: 2px 5px;
}

table.popover-tool {
	font-family: "din-lightregular";
}

a.no-underline {
	text-decoration: none;
}

#wizard-section .panel {
    margin-bottom: 0;
}
#wizard-section .wizard > .steps a, #wizard-section .wizard > .steps a:hover, #wizard-section .wizard > .steps a:active {
    margin: 0.5em 0.5em 0.5em;
}
#wizard-section .wizard > .actions {
	position: absolute;
    bottom: 0;
}
#wizard-section .wizard {
    position: relative;
}
#wizard-section .wizard > .actions .disabled a, #wizard-section .wizard > .actions .disabled a:hover, #wizard-section .wizard > .actions .disabled a:active {
    padding: 5px 16px;
}
#wizard-section .wizard > .content > .body label {
    margin: 0.5em 0;
}
#wizard-section .add-service {
    font-size: 15pt;
	margin-left: 2px !important;
}
#wizard-section .wizard > .content {
    overflow: auto;
}

.wrapper > footer {
    z-index: inherit;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;
    height: 0;
    overflow-y: hidden;
}
.tab-content > .active,
.pill-content > .active {
    height: auto;
    overflow: auto;
} /* bootstrap hack end */
