
@import "fonts/stylesheet.css";

body{
  font-family: "din-lightregular";
}

h1, h2, h3, h4, h5, h6{
  font-family: bebas-neue, sans-serif;
  letter-spacing: 0.07em;
}

.panel-head-text{
      color: #222;
      font-size: 28px;
      margin: 0 0 30px 0;
}

.mini-heading{
  font-family: "din-lightregular";
  font-weight: bold;
  letter-spacing: normal;
  font-size: 16px;
  text-transform: uppercase;
}

.page-wrapper{
  background: white !important;
  max-width: 1200px;
  padding: 30px 30px 0 30px;
  border: 1px solid #DDE6E9;
}


.navbar{
  min-height: 44px;
  border-radius: 0;
  border-bottom: none;
}

.navbar-brand{
  padding: 0;
  position: relative;
  display: inline-block;
  width: 230px;
  height: 44px;
}

.navbar-nav > li > a{
  padding-top: 0;
  padding-bottom: 0;
  line-height: 44px;

}


.navbar-brand img{
  position: absolute;
  bottom: 0;
  display: block;
}



#tabs{
  font-family: "din-lightregular";
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding-left: 24px;
}

.tab-content{
  background: white;
  padding: 0;
  padding-bottom: 0;
  min-height: 200px;
}
.active div {max-width:100% !important;}
.active .panel-boxes {
    max-width: 1140px !important;
}
.panel-boxes {
    padding: 15px;
}

.tab-content .panel{
  margin-bottom: 10px;
}

.fa-5x {
    font-size: 3.5em;
}

.text-lg{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

p.m0{
  font-size: 11px;
  margin-bottom: 12px;
}


.panel-boxes .panel{
  border: none !important;
  box-shadow: none !important;
}

.panel-boxes .panel .panel-heading{
  min-height: 100px;
}

.wrapper section {
  margin-bottom: 0 !important;
}


.chart{
      text-align:center;
}

.panel.panel-default{
      border-top-width: 1px;
}

.chart img{
      display: inline-block;
      width: 190px;
      max-width: 100%;
}

footer {
  position: relative !important;
  height: 60px;
  border-top: none !important;
  padding: 10px !important;
}
.panel-body {
    margin: 0px;
    border: 1px solid #d0d0d0;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0;
}
.panel-head-text {
    background: #d0d0d0;
    padding: 10px;
    font-size: 16px !important;
}
#imgInfo, #imgReport {
    float: right;
    width: 18px;
    height: 18px;
    margin-top: 1px;
    margin-left: 5px;
}
.hoverdiv {
    display: none;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0,0,0,.5);
    z-index: 1000000;
    background-color: white;
    padding: 7px;
    opacity: 1;
    font: 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
    position: absolute;
    right: 0;
    width: 250px;
    padding: 15px;
}
#thumbnail:hover + #hover-text {
    display: block!important;
}
.first-head .one-head,
.first-head .four-head {
    width: 5%;
}
.first-head .two-head {
    width: 12%;
}
.first-head .three-head {
    width: 13%;
}
.first-head .five-head {
    width: 18%;
}
.first-head .six-head,
.first-head .eight-head {
    width: 9%;
}
.first-head .seven-head,
.first-head .nine-head,
.first-head .ten-head {
    width: 7%;
}
.first-head .eleven-head {
    width: 8%;
}
.first-head th,
.second-head th {
	text-align:center;
    background: #f9f9f9;
}
.first-head th {padding:10px 0 0px;}
.second-head th {padding:10px 0 10px;}
table.table a {
	color:blue;
	text-decoration: underline;
}
.table > tbody > tr > td {
    vertical-align: middle;
    font-weight: 900;
    text-shadow: none;
}
.panel-boxes #ibutton{
    margin-bottom: 10px;
}
@media (max-width: 1200px) {
  section{
    padding-left: 30px;
    padding-right: 30px;
  }

  .chart + .mini-heading{
        margin-bottom: 30px;
 }
}

@media (max-width: 420px) {
  .panel-boxes .col-xs-6, .gauges-container .col-xs-6{
    width: 100% !important;
  }
  #banner li a {
    position: relative;
    display: block;
    padding: 5px 5px;
    font-size: 10px;
}
  #banner {padding-left: 10px;}
.table {
        table-layout: auto;
}

}
@media (max-device-width: 480px) and (orientation: portrait) {
.panel-boxes #ibutton{
    width: 100% !important;
    margin-bottom: 15px;
}
.links1 {
    width: 50% !important;
}
#container,
.layout-h .wrapper > section {
    /*margin-top: -21px !important;*/
}
}
@media (max-device-width: 668px) and (orientation: landscape) {
.links1 {
    width: 50% !important;
}
#container,
.layout-h .wrapper > section {
    /*margin-top: -21px !important;*/
}
}
