@font-face {
    font-family: "din-lightregular";
    src: url('ufonts.com_din-light-webfont.eot');
    src: url('ufonts.com_din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_din-light-webfont.woff2') format('woff2'),
         url('ufonts.com_din-light-webfont.woff') format('woff'),
         url('ufonts.com_din-light-webfont.ttf') format('truetype'),
         url('ufonts.com_din-light-webfont.svg#din_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
