.joint-viewport { 
    /* transform:translate(0px,0px)rotate(-30deg)skewX(30deg)scale(1,0.86602); */
   transform-origin: center;
}

.floor_style{fill:#fafafa;}
.cylinder-top {fill: #F9F9FA;}
.invisible {visibility: hidden;}
.highlight_green {fill: #39B54A;}
.highlight_red {fill: #ED1C24;}
.highlight_yellow {fill: #ffcc00;}
.highlight_blue {fill: #5d9cec;}
.highlight_grey {fill: #B2B2B2;}

@keyframes blink {
    0% {
        stroke-width: 0px;
    }

    40% {
        stroke-width: 1px;
        stroke-opacity: 0.4;
    }

    100% {
        stroke-width: 40px;
        stroke-opacity: 0;
    }
}

/*.highlight_red {
    fill: #ff000a;
    stroke-width: 0px;
    stroke: red;
    animation: blink 3s linear infinite;
}

.highlight_yellow {
    fill: #ffb600;
    stroke-width: 0px;
    stroke: #ffb600;
    animation: blink 3s ease-in-out infinite;
}*/

.opacity04 {
    opacity: 0.3;
    animation: fade 0.3s linear;
}

.opacity01 {
    opacity: 0.1;
    animation: fade 0.3s linear;
}

.hidden {
    display: none;
}

@keyframes fade {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0.2
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.show {
    opacity: 1;
    visibility: visible;
}

.hide {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s ease-in-out 0.25s, opacity 0.25s ease-in-out;
}

#background {
    fill: white;
}

[id^=service-]:hover [id^=icon-]{
    stroke:black;
    stroke-width:0.25px;
}

/* [id^=service-]:hover .service_text{
    stroke: black;
    stroke-width: 0.25px;
} */

[id^=service-]{
    cursor:pointer;
}

.hoverable-floor:hover{
     transform: translate(-1px,-1px);
}

.show {
    -webkit-animation: 0.5s ease 0s normal forwards 1 fadein;
    animation: 0.5s ease 0s normal forwards 1 fadein;
}

.hide {
    -webkit-animation: 0.5s ease 0s normal forwards 1 fadeout;
    animation: 0.5s ease 0s normal forwards 1 fadeout;
}

.opacity04 {
    opacity: 0.2;
    animation: fade 0.3s linear;
}

@keyframes fade {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0.2
    }
}

.inactive {
    pointer-events: none;
}

.joint-paper-grid {
    transform: translate(0px, 0px)rotate(-30deg)skewX(30deg)scale(1, 0.86602);
    transform-origin: "left top";
}

.floor_style {
    fill: #fafafa;
    opacity: 0.75;
}

.cylinder-top {
    fill: #F9F9FA;
}

@font-face {
    font-family: 'din-lightregular';
    src: url('/obsidian/dashboard/css/fonts/ufonts.com_din-light-webfont.eot');
    src: url('/obsidian/dashboard/css/fonts/ufonts.com_din-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('/obsidian/dashboard/css/fonts/ufonts.com_din-light-webfont.woff2') format('woff2'),
        url('/obsidian/dashboard/css/fonts/ufonts.com_din-light-webfont.woff') format('woff'),
        url('/obsidian/dashboard/css/fonts/ufonts.com_din-light-webfont.ttf') format('truetype'),
        url('/obsidian/dashboard/css/fonts/ufonts.com_din-light-webfont.svg#din_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes dash {
    to {
        stroke-dashoffset: -300;
    }
}

.font_family{
    font-family: 'DIN-Light', 'DIN Light', 'din-lightregular';
}

.yellow_line{
    animation: dash 60s linear infinite;
    -webkit-animation: dash 60s linear infinite;
    fill:none;
    stroke:#F9B233;
    stroke-width:2.5;
    stroke-linecap:round;
    stroke-miterlimit:4;
    stroke-dasharray:0,7;
 }

 .black_line{
    animation: dash 60s linear infinite;
    -webkit-animation: dash 60s linear infinite;
    fill:none;
    stroke:#000000;
    stroke-width:1.5;
    stroke-linecap:round;
    stroke-miterlimit:4;
    stroke-dasharray:0,5;
 }

 .red_line{
    animation: dash 60s linear infinite;
    -webkit-animation: dash 60s linear infinite;
    fill:none;
    stroke:#E30613;
    stroke-width:2.5;
    stroke-linecap:round;
    stroke-miterlimit:4;
    stroke-dasharray:0,7;
 }

 .selected_line.black_line{ fill:none; stroke:#000000; stroke-width:2; stroke-linecap:round; stroke-miterlimit:8; } 
 .selected_line.yellow_line{ fill:none; stroke:#fbb03b; stroke-width:3.5; stroke-linecap:round; stroke-miterlimit:10; } 
 .selected_line.red_line{ fill:none; stroke:red; stroke-width:3.5; stroke-linecap:round; stroke-miterlimit:10; } 
 .deselected_line{ opacity:0.3; }

 /*.black_line{ fill:none; stroke:#000000; stroke-width:0.25; stroke-linecap:round; stroke-miterlimit:10; } 
 .yellow_line{ fill:none; stroke:#fbb03b; stroke-width:1.5; stroke-linecap:round; stroke-miterlimit:10; } 
 .red_line{ fill:none; stroke:red; stroke-width:1.5; stroke-linecap:round; stroke-miterlimit:10; } 
 .selected_line.black_line{ fill:none; stroke:#000000; stroke-width:0.75; stroke-linecap:round; stroke-miterlimit:10; } 
 .selected_line.yellow_line{ fill:none; stroke:#fbb03b; stroke-width:2.5; stroke-linecap:round; stroke-miterlimit:10; } 
 .selected_line.red_line{ fill:none; stroke:red; stroke-width:2.5; stroke-linecap:round; stroke-miterlimit:10; } */
